<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<dict>
		<key>prop</key>
		<dict>
			<key>scale</key>
			<real>1.2</real>
			<key>positionY</key>
			<real>50</real>
			<key>positionX</key>
			<integer>100</integer>
			<key>atlas</key>
			<string>rocks</string>
		</dict>
		<key>floor</key>
		<string>ground</string>
		<key>background</key>
		<array>
			<string>sky</string>
			<string>sea</string>
		</array>
	</dict>
	<key>playerSlots</key>
	<array>
		<dict>
			<key>positionX</key>
			<real>33.3</real>
			<key>positionY</key>
			<real>2.21</real>
		</dict>
	</array>
	<key>platforms</key>
	<array>
		<dict>
			<key>atlas</key>
			<string>Platform1</string>
			<key>positionX</key>
			<integer>300</integer>
			<key>positionY</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>atlas</key>
			<string>Platform1</string>
			<key>positionX</key>
			<integer>200</integer>
			<key>positionY</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>mode</key>
	<string>survival</string>
</dict>
</plist>
