<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>playerSlots</key>
	<array>
		<dict>
			<key>positionX</key>
			<real>33.3</real>
			<key>positionY</key>
			<real>2.21</real>
		</dict>
	</array>
	<key>platforms</key>
	<array>
		<dict>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>32</integer>
			<key>atlas</key>
			<string>teste</string>
			<key>positionX</key>
			<integer>50</integer>
			<key>positionY</key>
			<integer>200</integer>
		</dict>
	</array>
	<key>mode</key>
	<string>survival</string>
</dict>
</plist>
